@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: normal;
	src: local("Inconsolata"), url("Inconsolata.ttf") format("truetype");
}

body {
	margin: 0px;
	background-color: black;
	font-family: Inconsolata;
}

canvas {
	display: block;
	margin: auto;
}

#status {
	font-family: Inconsolata;
	text-align: center;
	color: white;
	margin: 0px;
	padding: 1em;
}

#status .money {
	float: left;
}

#status .zombies {
	float: right;
}

#dialog {
	position: absolute;
	background-color: saddlebrown;
	width: 50%;
}

#dialog table {
	width: 100%;
}

#dialog table thead {
	font-weight: bold;
}

#dialog {
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}

.hidden {
	-moz-transform: rotate(360deg) scale(0);
	-webkit-transform: rotate(360deg) scale(0);
	-ms-transform: rotate(360deg) scale(0);
	-o-transform: rotate(360deg) scale(0);
	transform: rotate(360deg) scale(0);
	opacity: 0;
}
