@font-face {
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: normal;
	src: local("Inconsolata"), url("Inconsolata.ttf") format("truetype");
}

body {
	margin: 0px;
	background-color: black;
	font-family: Inconsolata;
}

canvas {
	display: block;
	margin: auto;
}

#status {
	font-family: Inconsolata;
	text-align: center;
	color: white;
	margin: 0px;
	padding: 1em;
}

#dialog {
	position: absolute;
	background-color: saddlebrown;
	width: 50%;
}

#dialog table {
	width: 100%;
}

#dialog table thead {
	font-weight: bold;
}
